accelerate==0.15.0
transformers==4.26.0
ftfy
albumentations
opencv-python
einops
diffusers[torch]==0.10.2
pytorch_lightning
bitsandbytes==0.37.0
tensorboard
safetensors==0.2.6
gradio==3.16.2
altair
easygui
tk
torch==1.13.1
torchvision==0.14.1
triton
xformers==0.0.16
# for BLIP captioning
requests
timm
fairscale
# for WD14 captioning
tensorflow<2.11
huggingface-hub
# for kohya_ss library
.